.option {
    font-size: 3rem;
    position: fixed;
    top: 55%;
    cursor: pointer;
    left: 300px;
    z-index: 999;
    transition: var(--transition);
}

.option-list {
    top: 30%;
    width: 200px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    color: black;
    position: fixed;
    z-index: 999;
    transition: var(--transition);
    box-shadow: -3px 2px 0px 5px #757575;
    padding: 1rem;
}

.option-list .mode {
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.option-list .mode .night,
.option-list .mode .light {
    cursor: pointer;
}

.option-list .mode .night {
    margin-right: 1rem;
}

.option-list .lang,
.option-list .currency {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-list button {
    padding: 1rem;
    background-color: transparent;
    cursor: pointer;
    padding-left: 0;
    transition: var(--transition);
    margin-bottom: 1rem;
    font-weight: bold;
}

.btn-list button:hover {
    transform: translateX(10px);
    background-color: var(--color-primary);
    padding-left: 1rem;
}