@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-primary: #ffce33;
  --color-title-car: #333;
  --color-second: #da1400;
  --color-bg: #f1f1f1;
  --color-black: #000000;
  --color-white: #fff;
  --transition: all 400ms ease;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
}

/* Small */
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width:992px) {
  .container {
    width: 950px;
  }
}

/* Large */
@media (min-width:1200px) {
  .container {
    width: 1300px;
  }
}

/*============ General Style ============= */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 50px 0;
}

section>h5 {
  text-align: center;
  font-weight: 500;
}

section>h2 {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

section>h2::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: var(--color-second);
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-primary);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-black);
}

select,
input[type="date"],
input[type="heure"] {
  font-size: 1rem;
  color: #555;
}

.submit-btn {
  color: var(--color-black);
  background-color: var(--color-primary);
  position: relative;
  font-weight: bold;
}

.submit-btn::before {
  content: '';
  width: 0;
  height: 100%;
  background-color: rgba(204, 204, 204, 20%);
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition);
}

.submit-btn:hover::before {
  width: 100%;
}

.box {
  text-align: center;
  transition: var(--transition);
  border: 2px solid transparent;
  padding: 10px 0;
}

.box:hover {
  border: 2px solid var(--color-primary);
}